<!DOCTYPE html>
<html ng-app="ncnll" >
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/ncnll.ico" type="image/x-icon" />
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/index.css' />
    <link rel='stylesheet' href='/vendors/bootstrap/dist/css/bootstrap.css' />
    <script type="text/javascript" src="/vendors/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/vendors/angular/angular.min.1.3.js"></script>
    <script type="text/javascript" src="/vendors/angular-route/angular-route.min.js"></script>
    <script type="text/javascript" src="/vendors/angular-touch/angular-touch.js"></script>
    <script type="text/javascript" src="/app/ncnll/directives/displayComponentsDtv.js"></script>
    <link rel="stylesheet" type="text/css" href="/vendors/angular-rangeslider/angular.rangeSlider.css"/>
    <script type="text/javascript" src="/vendors/angular-rangeslider/angular.rangeSlider.js"></script>
    <script type="text/javascript" src="/app/ncnll/shareApp.js"></script>
    <script type="text/javascript" src="/app/ncnll/directives/modalComponentDtv.js"></script>
    <script type="text/javascript" src="/app/ncnll/controllers/displayShareCtl.js"></script>
    <script type="text/javascript" src="/app/ncnll/controllers/headAndFootCtl.js"></script>
    <script type="text/javascript" src="/app/ncnll/services/modalSev.js"></script>
    <!--载入动画，以及提示信息-->
    <link rel='stylesheet' href='/vendors/iosOverlay/css/iosOverlay.css' />
    <script type="text/javascript" src="/vendors/iosOverlay/js/spin.min.js"></script>
    <script type="text/javascript" src="/vendors/iosOverlay/js/iosOverlay.js"></script>
    <script type="text/javascript" src="/app/ncnll/utils/utilsSev.js"></script>
    <!--微信分享-->
    <script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>

    <!--文件上传控件
    <script type="text/javascript" src="/vendors/ng-flow/dist/ng-flow-standalone.js"></script>-->

    <!-- Chang URLs to wherever Video.js files will be hosted -->
    <link href="/vendors/videojs/video-js.css" rel="stylesheet" type="text/css">
    <!-- video.js must be in the <head> for older IEs to work. -->
    <script src="/vendors/videojs/video.js"></script>

    <!--轮播器-->
    <script type="text/javascript" src="/vendors/tweenmax/TweenMax.min.js"></script>
    <link rel='stylesheet' href='/css/scrollImg/scroll.css' />

    <style type="text/css">
    /*.tab-content{
      background-color: #C0C0C0;
    }*/
    </style>

<!--    <link rel='stylesheet' href='/vendors/flowplayer/skin/minimalist.css' />
    <script src="/vendors/flowplayer/flowplayer.min.js"></script>-->
    <script>
        /*$(function(){
            //videojs.options.flash.swf = "/vendors/videojs/video-js.swf"
           $("img").click(function(){
               $('#myModal').modal('show');
           });
        });*/
        wx.config({
            debug: true, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
            appId: 'wxb14e210fe0f465ec', // 必填，公众号的唯一标识
            timestamp: <%= timestr %>, // 必填，生成签名的时间戳
            nonceStr: 'Wm3WZYTPz0wzccnWasdf', // 必填，生成签名的随机串
            signature: '<%= signature %>',// 必填，签名，见附录1
            jsApiList: ['scanQRCode'] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
        });

    </script>

  </head>
  <body>
    <!--Loading等提示-->
    <div id="showNotifySpinner"></div>

     <%- include ../common/head.ejs %>

      <!--Body-->
    <div ng-view></div>
 

    <%- include ../common/footer.ejs %>
   <button onclick="saoyidao()">按我按我</button>
   <script type="text/javascript">
        wx.scanQRCode({
            needResult: 0, // 默认为0，扫描结果由微信处理，1则直接返回扫描结果，
            scanType: ["qrCode","barCode"], // 可以指定扫二维码还是一维码，默认二者都有
            success: function (res) {
            var result = res.resultStr; // 当needResult 为 1 时，扫码返回的结果
        }
        });
   </script>
  </body>
</html>
